@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease-in-out;
}

body {
    background-color: #1B1B1F;
    color: #ADADAE;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(12, 3, 51, 0.048), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

nav .logo {
    width: 280px;
}

nav ul {
    transition: 0.5s ease-in-out;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s all;
}

nav i {
    font-size: 20px;
    display: none !important;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

.content {
    text-align: center;
    margin-top: 150px;
}

.content h1 {
    font-size: 120px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s all;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.5s all;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    padding: 14px 70px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s all;
}

.content a:hover {
    background: #0000008a;
    transition: 0.5s all;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.parks {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(images/bgimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 50px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.578);

}

.title {
    font-size: 40px;
    text-align: center;
    z-index: 100px;
}

::selection {
    background-color: transparent;
    color: rgb(255, 151, 0);
}

.title {
    color: rgb(255, 151, 0);
}

.hover-target {
    z-index: 99;
}

.herosection{
    padding: 20px 0;
}
.herosection h1{
    text-align: center;
    margin: 150px 0 30px 0;
    font-size: 15px;
    font-weight: 300;
}
.services-container{
    padding: 30px ;
}
.services{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* gap:2%; */
}
.service{
    width: 300px;
    height: 300px;
    background-color: #0369ac;
    text-align: center;
    padding: 70px 20px;
    border-radius: 2px;
    position: relative;
    transition: 0.3s ease-in-out;
}
.service-container{
   
}
.service i{
    font-size: 60px;
    padding: 20px 0;
}
.service h4{
    font-size: 17px;
}

.service .content{
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0%;
    background-color: #ac3e03;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    height: 100%;
    display: none;
    align-items: center;
}
.service:hover .content{
   display: flex;
   transition: 0.3s ease-in-out;

}
.national-parks {
    margin: 0 auto;
    padding: 30px 20px;
    position: relative;
}

.nparks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.nparks img {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.nparks img:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.title {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    padding: 20px 0;
    color: rgb(255, 151, 0);
    position: relative;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 36%;
    width: 29%;
    height: 5px;
    border-radius: 50px;
    background-color: #000;
}

.park {
    background-color: rgba(14, 14, 0, 0.388);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
}

.park img {
    width: 100%;
    height: 100%;
}

.team-container {
    width: 100%;
    padding: 20px 10px;
}

.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.team {
    width: 370px;
    height: 310px;
    background-color: #1B1B1F;
    color: #ADADAE;
    border: 1px solid #9ca3af;
    border-radius: 10px;

}

.team:hover {
    box-shadow: 0px 1px 4px 1px rgb(214, 209, 209);
}

.team .imgdiv {
    text-align: center;
    padding: 20px 0;
}

.team .imgdiv img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.team h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}

.team p {
    text-align: center;

}

.team ul {}

.team ul li {}

.team ul li i {}

.social-menu {
    position: relative;
    margin: 70px 0;
}

.middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn i {
    line-height: 50px;
    font-size: 16px;
    transition: 0.2s linear;
}

.btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

.contact {
    padding: 0 70px ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

form label {}

form iput {
    width: 100%;
    height: 30px;
    outline: none;
    padding: 20px;
    border-radius: 3px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

form tetarea {
    width: 100%;
    height: 30px;
    outline: none;
    padding: 20px;
    border-radius: 3px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    resize: none;
}

form button {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: #3498db;
    color: white;
    transition: 0.3s ease-in-out;

}

form button:hover {
    background-color: #0369ac;
    transition: 0.3s ease-in-out;
}


footer p {
    text-align: center;
    padding: 10px 0;
}

#Nationaparks {
    transition: 0.3s all;
}

.ptitle {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.swiper {
    width: 100%;
    height: 250px;
}

.test h1 {
    z-index: 99;
}

.reviews {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviews h1 {
    text-align: center;
    font-size: 18px;
}

.reviews p {
    padding: 10px 50px;
    text-align: center;
}

.cart {
    display: none;
    width: 400px;
    height: 80vh;
    background-color: #1B1B1F;
    color: #9ca3af;
    backdrop-filter: blur(5px);
    ;
    position: absolute;
    top: 0%;
    left: 0;
    border-radius: 10px;
}

.cart h1 {
    color: white;
    font-size: 20px;
    text-align: center;
}

.cart p {
    text-align: center;
}

.cart form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart input {
    width: 90%;
}

.cart label {
    text-align: start;
}

.cart select {
    outline: none;
    padding: 10px 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pop {
    width: 400px;
    /* height: 550px; */
    padding: 5px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1B1B1F;
    border-radius: 20px;
    color: #9ca3af;
    z-index: 900;
    text-align: center;
    display: none;

}

.pop img {
    padding-top: 10px;
    width: 95%;
    height: 200px;
    border-radius: 15px;
}

.pop h1 {
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.pop .btn {
    margin: 40px 0;
}

.pop a {
    padding: 10px 15px;
    background-color: rgb(213, 65, 65);
    border-radius: 20px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    transition: 0.3s ease-in-out;
}

.pop a:hover {
    background-color: rgb(151, 32, 32);
}

.pop-containecart-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqs-container{
    padding: 20px 70px;
}
.faqs-question{
    padding: 10px 0;
}
.faqs{
    cursor: pointer;
}
.question{
    font-size: 22px;
    font-weight: 400; 
}
.faqs-answer{
    font-weight: 500;
    font-size: 18px;
    display: none;
}
.des{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.btntop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: display 0.3s ease-in-out;
  }
  .btntop a{
    color: #fff;
    text-decoration: none;
  }
  .accordion-button {
    color: #8B8B8D; /* Text color */
    background-color: #1B1B1F; /* Background color */
  }

  .accordion-body {
    color: #8B8B8D; /* Text color */
    background-color: #1B1B1F; /* Background color */
  }
/* Responsive codes */
@media only screen and (max-width: 600px) {

    .nparks {
        flex-direction: column;
    }

    .nparks img {
        width: 90%;
        margin-top: 10px;
    }

    .card {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    nav ul {
        /* display: none; */
        display: blocks;
        background-color: #000;
        width: 100%;
        height: 100vh;
        z-index: 100;
        position: absolute;
        left: -2000px;
        top: 0;
        height: 100vh;
    }

    nav ul li {
        /* padding: 20px 20px; */
        display: block;
        text-align: center;
        padding: 15px 0;
    }

    nav i {
        font-size: 20px;
        display: block !important;
        position: absolute;
        right: 34px;
        top: 37px;
        z-index: 100;
    }

    .content h1 {
        font-size: 50px;

    }

    .content h1:hover {
        -webkit-text-stroke-width: 1px;
    }

    .content a {
        padding: 10px 25px;
    }

    .nparks {
        flex-direction: column;

    }

    .park {
        width: 95%;
    }

    .teams {
        flex-direction: column;
    }

    .team {
        width: 100%;
        height: 310px;  
        margin-top: 20px;  
    }
    nav .logo{
        width: 150px;
    }
    .contact{
        padding: 20px 10px;
        margin-bottom: 10px;
    }
    .services{
        flex-direction: column;
    }
    .service{
        width: 100%;
        margin-top: 20px;
    }

    .faqs-container{
        padding: 10px 20px;
    }
    

}

@media only screen and (min-width: 600px) {}



@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

@media(min-aspect-ratio:16/9) {
    .bg {
        width: 100%;
        height: auto;
    }
}

@media(mix-aspect-ratio:16/9) {
    .bg {
        width: auto;
        height: 100vh;
    }
}